body {
    background-color: green;
    height: 100vh;
    background-size: cover;
}

.block {
    text-align: center;
    background-color: white;
    margin: auto;
    margin-top: auto;
    padding: auto; 
    width: 350px;
    height: 350px;
    

    
}